<nav>
  <img src="/assets/acrobuddhaslogo.png">
  
    <div id="nav-toggle">
      <a href="#" class="hamburger">
        <div id="1" class="bar"></div>
        <div id="2" class="bar"></div>
        <div id="3" class="bar"></div>
      </a>
    </div>
    <ul class="sidebar">
      <li class="link"><a href="#middle-photo"> Who we are</a></li>
      <li class="link"> <a href="#contact"> Get in touch</a></li>
      <li class="link"><a href="http://www.instagram.com/acrobuddhas" target="_blank" >See us fly</a></li>
    </ul>
</nav>