<nav>
  <img src="/assets/acro-logo.png">
  
    <div id="nav-toggle">
      <a href="#" class="hamburger">
        <div id="1" class="bar"></div>
        <div id="2" class="bar"></div>
        <div id="3" class="bar"></div>
      </a>
    <ul class="sidebar">
      <li class="link"><a href="#about"> Who we are</a></li>
      <li class="link"> <a href="#contact"> Get in touch</a></li>
      <li class="link"><a href="http://www.instagram.com/acrobuddhas">See us fly</a></li>
    </ul>
  </div>
</nav>