<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="top-photo">
      <div class="tagline">
      <h1 class="tag"> Come fly with us</h1>
      <button><a href="#contact"> Let's fly </a></button>
      </div>
    </div>
    {% include header.html %}
    <section id="middle-photo">
      <div class="text-box">
      <h2> About the Acro Buddhas</h2>
      <p>
       <strong> Ryan and Miranda are an acrobatic yoga duo based in Toronto, Ontario, Canada. </strong>
       </p> 
       <p>Together, they are on a mission to spread their love for a healthy and uplifted lifestyle. Their philosophy in life is to follow your bliss and inspire others to do the same. 
      </p>
      <p>
       The Acro Buddhas are available for retreats, group & private classes, workshops, events, and festivals.
      </p>
      </div>
    </section>
    <section id="contact">
      <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://taramahoney.wufoo.com/forms/mvwhad0165dbam/#public">
   <div class="contact-form">
      <header id="header" class="info">
      <h2> Get in touch </h2>
      <p> Email us for retreats, group & private classes, workshops, events, festivals - or just to chat!</p>
      </header>

      <ul>

      <li id="foli1" class="notranslate field">
      </label>
      <span>
      <label for="Field1">First name</label>
      <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1"       />
      
      </span>
      <span>
      <label for="Field2">Last name</label>
      <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" />
      
      </span>
      </li>
      <li id="foli3" class="notranslate      ">
      <label class="desc" id="title3" for="Field3">
      E-mail address:
      </label>
      <div>
      <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"       />
      </div>
      </li>
      <li id="foli4"
      class="notranslate field     "><label class="desc" id="title4" for="Field4">
      Message<br />

      </label>

      <div>
      <textarea id="Field4"
      name="Field4"
      class="field textarea medium"
      spellcheck="true"
      rows="10" cols="50"

      tabindex="4"
      onkeyup=""
             >Enter your message here</textarea>

      </div>
      </li>
      
      </li> <li class="buttons">
      
      <div>
        <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="SEND"/></div>
        <input type="hidden" id="idstamp" name="idstamp" value="yi5/8Az03H1DO4MKxGInZdePPlNGIvIyH8HKPf7LPNQ=" />
      </li>
      </ul>
      </form>
       

      </div>

    </div>
      <div class="social-box">
        <h2> Follow our journey: </h2>
        <div class="social-buttons">
          <a href="https://www.facebook.com/acrobuddhas" target="_blank"><img src="/assets/facebook.png" alt="Facebook"></a>
          <a href="https://twitter.com/acrobuddhas?lang=mr" target="_blank"><img src="/assets/twitter.png" alt="Twitter"> </a>
          <a href="http://www.instagram.com/acrobuddhas" target="_blank"><img src="/assets/instagram.png" alt="Instagram"> </a>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </body>
</html>